friend-card {
    ion-card{
        width: 100% !important;
        margin: 0px !important;
        -webkit-box-shadow: -1px 4px 13px 1px rgba(99,99,99,1) !important;
        -moz-box-shadow: -1px 4px 13px 1px rgba(99,99,99,1) !important;
        box-shadow: -1px 4px 13px 1px rgba(99,99,99,1) !important;
        img{
            width: 100% !important;
            height: 200px !important;
        }
        h1{
            font-size: 16px !important;
            color: color($colors,'secondary') !important;
        }
        h2{
            font-size: 12px !important;
            color: gray !important; 
        }
    }

}
