friend-card {
    ion-card{
        // min-width: 50vw !important;
        // width: 50vw !important;
        img{
            width: 100%;
            height: 40vw;
        }
        h1{
            font-size: 16px !important;
            color: color($colors,'secondary') !important;
        }
        h2{
            font-size: 12px !important;
            color: gray !important; 
        }
    }

}
