page-friend-list {
    .header{
        height: 50px !important;
        p{
            color: white !important;
        }

    }
    ion-col{
        padding: 5px !important;
        margin: 0px !important;
    }
    .toolbar-md{
        padding: 0px !important;
    }
    .header-md::after{
        display: none !important;
    }
}
