<ion-header>
    <ion-navbar color="white">
      <ion-title>{{title}}</ion-title>
      <button ion-button (click)="listen()">listen</button>
      <button ion-button (click)="clear()">clear</button>
      
    </ion-navbar>
  </ion-header>
  <ion-content>
      <ion-segment padding [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="friends">
          FRIENDS
        </ion-segment-button>
        <ion-segment-button value="requests">
          REQUESTS <span *ngIf="friendRequestCount != 0">({{friendRequestCount}})</span>
        </ion-segment-button>
        <ion-segment-button value="search">
          FIND NEW
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="tab">
        <div *ngSwitchCase="'friends'">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let sentRequest  of sentRequests" col-6>
                <friend-card viewType="card" [data]="sentRequest" connectionType="REQUEST_SENT" ></friend-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
  
  
  
        <div *ngSwitchCase="'requests'">
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let receivedRequest  of receivedRequests" col-6>
                  <friend-card viewType="card" [data]="receivedRequest" connectionType="REQUEST_RECEIVED" ></friend-card>
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
  
        <div *ngSwitchCase="'search'">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let user of notConnected" col-6>
                <friend-card viewType="card" [data]="user" connectionType="NOT_CONNECTED"  ></friend-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
  
  </ion-content>