<!--
  Generated template for the UserListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Friend Requests</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-searchbar [(ngModel)]="searchKey"
                    animated="true"
                    (ionInput)="onInput($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <friend-card *ngFor="let user of usersFiltered" viewType="list" [userData]="user" [connectionType]="user?.connectionType"  ></friend-card>
  </ion-list>
  <h1 class="no-request" *ngIf="this.users?.length == 0">You don't have new friend request</h1>

  <button ion-button block (click)="gotoUserList()" button-center  color="secondary">
    Find New Friends
  </button>
</ion-content>